<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <a class="navbar-brand mr-2" href="#">GB-Store Products</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/list}">Products list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN','MANAGER')" th:href="@{/product/new}">Create a product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  sec:authorize="hasAnyRole('ADMIN','MANAGER')" th:href="@{/category/form}">Create a category</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user/list}" sec:authorize="hasRole('ADMIN')" class="btn btn-success me-2">Users</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-primary me-2">Log in</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user/registration}" sec:authorize="isAnonymous()" class="btn btn-success me-2">Registration</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/cart/list}" class="btn btn-success me-2">
                        Cart
                        <span th:if="${shoppingCart.getCount() > 0}" th:text="${shoppingCart.getCount()}"></span>
                    </a>
                </li>
                <li>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{/logout}" th:method="post"
                          class="form-inline my-2 my-lg-0" >
                        <button class="btn btn-outline-success my-2 my-sm-0">
                            Logout <span sec:authentication="principal.username"></span>
                        </button>
                    </form>
                </li>


            </ul>
        </div>
    </nav>

</html>