<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
</head>
<body>
<div class="container">
    <div th:replace="~{fragment/header::header}"></div>
    <h1>Creating a new user</h1>
    <div class="container">
        <div class="row row-cols-auto mt-5 mb-5">
            <form th:method="POST"  th:action="@{/user/update}" th:object="${user}">
                <input type="hidden" th:field="*{id}" id="id">
                <div class="form-group">
                    <label for="title">Name</label>
                    <input type="text" th:field="*{username}" placeholder="Enter title" id="title"/>
                    <small th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}"> Title ERROR</small>
                </div>

                <br>
                <label for="password"></label>
                Password: <input type="text" th:field="*{password}" id="password"/>
                <small th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">Coast ERROR</small>
                <br><br>
                <label for="email"></label>
                email: <input type="text" th:field="*{email}" id="email"/>
                <small th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">Coast ERROR</small>
                <br><br>
                <div class="form-group">
                    <label for="roles">Roles</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                th:selected="${user.roles?.contains(role)}"></option>
                    </select>
                </div>
                <br><br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>

